<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div th:fragment="headerr">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="/img/at.png" width="35" height="25" alt="HHH">
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuInvs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Счета
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuInvs">
                    <a class="dropdown-item" data-toggle="modal" data-target="#fileModal" href="#">Загрузить счет</a>
                    <a class="dropdown-item" href="no_ship_invs">Недогруженные счета</a>
                    <a class="dropdown-item" href="/invoices">Счета на отгрузку</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuShpms" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Отгрузки
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuShpms">
                    <a class="dropdown-item" href="/shipments">Отгрузки</a>
                    <a class="dropdown-item" href="/invoices">...</a>
                </div>
            </li>
        </ul>

        <!-- Modal -->
        <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Выбрать файл счета (формат только xlsx)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form method="post" enctype="multipart/form-data" action="/upload">
                        <div class="modal-body">

                            <!-- <form>-->
                            <div class="form-group">
                                <!-- <label for="exampleFormControlFile1">Example file input</label>-->
                                <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                        </div>
                        <!--  </form>-->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Загрузить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Выход</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- Modal -->

        <select class="custom-select col-2" form="srch" name="select">
            <option value="1">Артикул</option>
            <option value="2">№ Заказа</option>
            <option value="3">Клиент</option>
            <option value="4">Наименование</option>
            <option value="5">КлиентГруппировка</option>
        </select>

        <form class="form-inline my-2 my-lg-0" action="/search" method="post" id="srch">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>